p Hi,
p #{inviter} 邀请您成为 ci.mgtv.com 的成员。您的用户名是 #{display_name}

p 您的邀请码是
blockquote #{code}
p 点击下方的链接进行注册
p #{strider_server_name}/?code=#{code}

p
  a(href="http://ci.mgtv.com") ci.mgtv.com
  br
  | Raptor 芒果TV前端CI&CD系统
